### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Spring Boot ###
target/

### Application Secrets ###
src/main/resources/firebase/
src/main/resources/application-prod.yml
src/main/resources/application-secret.yml
*.env

### OS ###
.DS_Store
Thumbs.db
